@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Mulish:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
 
    font-family: 'Mulish', sans-serif;

}
header{
    width: 90rem;
   height: 45rem;
}
.text-light-gray{
    color: #727272;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: #FFF;
    margin-right: 40px;
}
.nav-bars{
    display: none;

}
.logo-section{
    display: flex; 
    
    
        
}



.logo-section .logo-title{
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 20px;
   

}
.logo-travel{
    color: #FF5400;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    
    
}
.li-home{
    color:#FF5400
}
/*banner section style*/
.banner-section{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)),url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
   
    margin-top: 50px;
    margin-left: 110px;
    padding-right: 20px; 
    
    border-radius: 1rem;
 
    width: 70rem;
    height: 30rem;
  
      
}
.banner-text{
    
    text-align: center;
  ; 
    
}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;

    
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
     
}
.input-section{
    display:flex;
    padding: 1rem;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 20px;
    

}
.input-box{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #13131880;
    


}
.input-btn{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: none;


}

/*popular section style*/
.popular-section{

    display: flex;
  
}
.popular-text{
    margin-left: 100px;
    margin-right: 100px;
}
.popular-text h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}
button{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: none;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;


}
.popular-section img{
    margin-right: 80px;
}
/*choose section style*/
.choose-text{
    text-align: center;
    padding-top: 50px;
}
.choose-text h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;

}
.choose-text p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}


.first-img{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(images/Rectangle\ 5.png);
    width: 35.8125rem;
    height: 18.75rem; 
}
.first-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.second-img{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(images/Rectangle\ 8.png);
    width: 35.8125rem;
    height: 18.75rem;

}
.second-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;
}

.first-img-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    

}
.third-img{
    background-image: url(images/Rectangle\ 6.png);
    width: 23.375rem;
    height: 17.875rem;

}
.third-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.fourth-img{
    background-image: url(images/Rectangle\ 7.png);
    width: 29.625rem;
    height: 17.875rem;


}
.fourth-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.fivth-img{
    background-image: url(images/Rectangle\ 9.png);
    width: 17.125rem;
    height: 17.875rem;
}
.fivth-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.second-img-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.sixth-img{
    background-image: url(images/Rectangle\ 11.png);
    width: 29.5625rem;
    height: 18.75rem;

}
.sixth-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.seventh-img{
    background-image: url(images/Rectangle\ 10.png);
    width: 42.0625rem;
    height: 18.75rem;

   


}
.seventh-img h2{
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    margin-top: 100px;

}
.third-img-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
/*why choose section style*/

.why-choose-text h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;

}
.why-choose-text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}


.box1{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
   

}




.box2{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);

}
.box-section, .box-description{
   margin: 30px 30px;
    
}
.box-description > h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

}
.box-description > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; 
  
}
.first-box-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
} 
.second-box-section{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-top: 1.5rem;
    margin-left: 30%;
  
    
}
.place-text{
    margin-left: 60px;
}
.place-text ul > li{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;

}
.place-text > h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}
.place-video{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(images/Group\ 40089.png);
    width: 38.125rem;
    height: 26.5rem;
    border-radius: 1rem;
    margin-right: 60px;

}
.place-video > h4{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 150px;

}
.place-section{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
/*news letter section style*/
.newsletter-form{
    width: 30.625rem;
    height: 26.375rem;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    margin-top: 4rem;
    margin-left: 2rem;

}
.newsletter-form > hr{
    width: 24.5625rem;
    height: 0.0625rem;
    background: rgba(19, 19, 24, 0.10);
}
.newsletter-form > h4{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: normal;
    margin-left: 2.5rem;
    

}
.newsletter-form > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem; 
    text-align: left;
    margin-left: 2.5rem;
    margin-bottom: 0px;
    margin-top: -10px;
    
}
.newsletter-form > input{
    width: 24.5625rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 1rem;
    margin-left: 2.5rem;
    text-align: center;
    color: #1313184D;

}
.newsletter-form button{
    width: 24.5625rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
}
.newsletter-img{
    background-image: url(images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 46rem;
    height: 26.375rem;
    /*border-radius: 1rem;*/
    margin-top: 4rem;
    
  

}
.newsletter-img button{
    width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 1rem;
    text-align: center;
    margin-top: 16rem;
    margin-left: 21.3rem;
    margin-bottom: 0.5rem;
    margin-right: 0.8rem; 
}

.newsletter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-left: 3.5rem;
    
  

}


/*footer section style*/
.footer-section{
    width: 90rem;
    height: 30rem;
    
    /*width: 70rem;
    height: 30rem;*/
    background: rgba(19, 19, 24, 0.05);
    margin-top: 60px;
    border-radius: 1rem;
    padding-top: 100px;
    
 


}
.logo-section{
    
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    
     
}
.footer-text p{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 30px;
    

}
.footer-icon{
    
    font-size: 38px;
   
    
    margin-left: 650px;
    margin-top: 50px;

} 
hr{
    background: rgba(19, 19, 24, 0.10);
    width: 54.5rem;
    height: 0.0625rem;
    margin-top: 50px;
}
p{
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;

}
/*responsive media queries*/
/*mobile devices*/
@media  screen and (max-width:600px){
    .nav-bars{
        display: block;
        font-size: 30px;
        margin-right: 550px;
        
    }
    .logo-travel{
        margin-right: 80px;
    }
    nav ul > li{
        display: none;
    }   
    .banner-section{
        background-position: center;
        width:400px ;
        height: 500px;
        margin-left: 80px;
        margin-right: 250px;
    }
    .banner-title{
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.6rem;
    }
    .input-box,
    .input-btn{
        width: 15rem;
        height: 2.40rem;
    }
  
    .input-section{
        background: none;
        margin-top: 10px;
        flex-direction: column;
        
        
        
    }

    
    
    .nav > ul,
    .popular-section,
    .first-box-section,
    .place-section,
    .newsletter-section,
    .first-img-column,
    .second-img-column,
    .third-img-column{
        flex-direction: column;
    }

    .popular-section img{
        
        margin-top: 50px;
        margin-left: 100px;   
    }
    .popular-text ul > li, p{
        text-align: left;
    }
 
    .third-img{
        max-width: 35.8125rem;
        height: 18.75rem;
        background-repeat: no-repeat;
      
    }
    .first-box-section{
        margin-left: 20px;
    }
    .second-box-section{
        margin-left: -6%;
    }
    .place-video{
        margin-top: 30px;
        
    }
    .newsletter-section{
        align-items: center;
        margin-right: 70px;
    }
    .footer-section{
        width: 36rem;
    
        height: 30rem;
  
    }
    .footer-icon{
    
        font-size: 38px;
       
        
        margin-left: 150px;
        margin-top: 50px;
    }
    hr{
        width: 30rem;
    }
    p{
        text-align: center;
    } 
}

